In [1]:
seq = [0,3,7,54,32,99]

In [25]:
def square(num):
    return num**2

In [12]:
square(5)

25

In [17]:
out = []

for num in seq:
    out.append(num**2)

In [18]:
out

[0, 9, 49, 2916, 1024, 9801]

In [19]:
out = [num**4 for num in seq]

In [20]:
out

[0, 81, 2401, 8503056, 1048576, 96059601]

In [27]:
x = [1,2,3,4,5,6]

In [32]:
list(map(lambda num: num**4, x))

[1, 16, 81, 256, 625, 1296]

In [44]:
import numpy as np
import pandas as pd

In [38]:
list = [[1,2],[3,4],[5,6]]

np.array(list)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [43]:
np.arange(0,100,7)

array([ 0,  7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98])

In [56]:
array = np.random.randint(0,674,100)

In [57]:
array.reshape(4,4)

ValueError: cannot reshape array of size 100 into shape (4,4)

In [53]:
pd.DataFrame(array)

     0
0  267
1  229
2  107
3  397
4  471
5  545
6   89
7  516
8  312
9  586